<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
  	<settings>
  		<!-- java표기법과 sql표기법이 상이한 문제 해결 (firstName=first_name) -->
  		<setting name="mapUnderscoreToCamelCase" value="true"/>
  		<!-- 널처리 -->
  		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<package name ="com.yedam.app"/>
	</typeAliases>
	
	<typeHandlers>
		<!-- java.util.Date로 변환 -->
		<typeHandler javaType = "java.sql.Date" handler="org.apache.ibatis.type.DateTypeHandler"/>
	</typeHandlers>
  </configuration>
  